// Specific CSS for your home-page
#menu-btn{
  width: 400px;
  height: 125px;
  border-width: 2px;
  border-color: #E71D11;
  padding: 0;
  font-weight: bold;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 24px;
  letter-spacing: 5px;
}
#menu-btn:hover{
  color: white;
}
.button1{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
.layout{
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
.info{
  margin-left: 175px;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 22px;
  padding-top: 45px;
  max-width: 65%
}
.info2{
  margin-left: 175px;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 20px;
  padding-top: 25px;
  max-width: 65%
}
.info3{
  margin-right: 300px;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 20px;
  padding-top: 15px;
  max-width: 65%
}
.info4{
  margin-right: 300px;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 22px;
  padding-top: 45px;
  max-width: 65%
}
.image1 img{
  height: 450px;
  margin-right: 200px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba($color: #000000, $alpha: .4);
}
.image2 img{
  height: 450px;
  margin-left: 200px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba($color: #000000, $alpha: .4);
}

@media (max-width: 1024px) {
  .layout {
    flex-wrap: wrap;
    justify-content: center;
   }
}
@media (max-width: 1024px) {
  .layout2 {
    flex-wrap: wrap;

   }
}
@media (max-width: 1024px) {
  .info {
    max-width: 100%;
    margin-left: 0px;
   }
}
@media (max-width: 1024px) {
  .info2 {
    max-width: 100%;
    margin-left: 0px;
    margin-bottom: 45px;
   }
}
@media (max-width: 1024px) {
  .info3 {
    max-width: 100%;
    margin-right: 0px;
    margin-bottom: 45px;
   }
}
@media (max-width: 1024px) {
  .info4 {
    max-width: 100%;
    margin-right: 0px;
    margin-bottom: 15px;
   }
}
@media (max-width: 1024px) {
  .image1 img {
    max-width: 110%;
    margin-left: 0px;
    margin-right: 0px;
   }
}
@media (max-width: 1024px) {
  .image2 img {
    max-width: 130%;
    margin-left: 0px;
    margin-right: 0px;
   }
}
