.menu-header{
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  border-bottom: 1px;
  border-color: black;
  border-style: dotted;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  padding-bottom: 5px;
  color: #024D26;
}
.menu-para{
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
li{
  list-style: none;
}
ul{
  padding-left: 5px;
}
.menu-layout{
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
}
.menu-para-descript{
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 12px;
}
