<div class="footer">
  <div class="footer-container pt-3">
    <div class="footer-left">
      <%= link_to root_path, class: "footer-brand" do %>
        <%= image_tag('mamaginna3.jpg') %>
      <% end %>
    </div>
      <div class="left-info">
        <div class="left-link">
          <i id="left-tools" class="fa-solid fa-phone">​</i>
          <p class="info-left">(336)-643-7779</p>
        </div>
        <div class="left-link">
          <i id="left-tools" class="fa-solid fa-map-pin"></i>
          <p class="info-left">4549 US-220, Summerfield, NC 27358</p>
        </div>
      </div>
    <div class="footer-links">
      <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/mamaginnas/" target="_blank"><i class="fab fa-facebook"></i></a>
    </div>
  </div>
  <div class="footer-copyright text-center mb-2 mt-5">
    © 2025 <a href="" class="href">Mama Ginna's</a>
  </div>
</div>
