<div class="banner banner-image">
</div>
<div class="button1" id="aboutus">
  <button type="button" id="menu-btn" class="btn btn-outline-danger btn-lg">OUR MENU</button>
</div>
<div class="layout" >
  <h3 class="info" >Mama Ginna’s, a locally-owned pizzeria, has been proudly serving the Summerfield community
    since 2002. Our friendly staff is fabulous at whipping out fresh pizzas, crisp salads, and tasty
    desserts. Pizza, pasta, subs, and salads… Mama Ginna’s does it right!</h3>
    <div class="image1"><%= image_tag('peter.jpg') %></div>
</div>
