<div class="banner banner-image">
</div>
<div class="button1" id="aboutus">
  <a href="/menu"><button type="button" id="menu-btn" class="btn btn-outline-danger btn-lg">OUR MENU</button></a>
</div>
<div class="layout" >
  <div>
    <h3 class="info" >Mama Ginna’s, a locally-owned pizzeria, has been proudly serving the Summerfield community
      since 2002. Our friendly staff is fabulous at whipping out fresh pizzas, crisp salads, and tasty
      desserts. Pizza, pasta, subs, and salads… Mama Ginna’s does it right!</h3>
      <h2 class="info2">We're proud to be rated Summerfield's #1 pizzeria! Pop on by to pick up your piping hot
        pizza or give us a ring and have it delivered to your door!
      </h2>
  </div>
  <div class="image1"><%= image_tag('peter2.jpg') %></div>
</div>
<div class="layout" >
  <div class="image2"><%= image_tag('justin2.jpg') %></div>
  <div>
    <h3 class="info4" >Our Hours of Operation:</h3>
      <h2 class="info3">Sunday: 12PM-8PM</h2>
      <h2 class="info3">Monday: Closed</h2>
      <h2 class="info3">Tuesday: 11PM-8PM</h2>
      <h2 class="info3">Wednesday: 11PM-8PM</h2>
      <h2 class="info3">Thursday: 11PM-8PM</h2>
      <h2 class="info3">Friday: 11PM-8PM</h2>
      <h2 class="info3">Saturday: 11PM-8PM</h2>
  </div>
</div>
