<div class="banner2 banner-image2">
  <div class="container" style="display: flex; flex-direction: column; align-items: center; margin-top: 75px;">
    <h1>MENU</h1>
  </div>
</div>
<div class="menu-layout">
  <div class="listing" style="max-width: 25%;">
    <h3 class="menu-header">New York Style Pizza</h3>
    <ul>
      <li>
        <p class="menu-para" style="font-style: italic">(Round & Thin)</p>
        <p class="menu-para" style="font-style: italic; border-bottom: 1px; border-style: dotted; border-color: black; border-top: 0px; border-left: 0px; border-right: 0px; padding-bottom: 5px">Toppings: Pepperoni, Sausage, Bacon, Beef, Ham, Spinach, Onions, Mushrooms, Peppers, Tomato, Jalapeno Peppers, Banana Peppers, Black Olives, Eggplant, Feta Cheese, Cheddar Cheese & Pineapple</p>
      </li>
      <li>
        <div class="menu-sizes" style="display: flex; justify-content:end">
          <p class="menu-para px-3"> 12"</p>
          <p class="menu-para px-3"> 14"</p>
          <p class="menu-para px-3"> 16"</p>
        </div>
        <div style="display: flex; justify-content: space-between">
          <p class="menu-para">Cheese Pizza</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-2"> 10.99</p>
            <p class="menu-para px-2"> 11.99</p>
            <p class="menu-para px-2"> 12.99</p>
          </div>
        </div>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Ginna Special</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-2 mb-0"> 15.99</p>
            <p class="menu-para px-2 mb-0"> 17.99</p>
            <p class="menu-para px-2 mb-0"> 20.99</p>
          </div>
        </div>
        <p class="menu-para-descript">w/ Bacon, Pepperoni, Ham, Beef, & Sausage</p>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Cheeseburger Pizza</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-2 mb-0"> 15.99</p>
            <p class="menu-para px-2 mb-0"> 17.99</p>
            <p class="menu-para px-2 mb-0"> 20.99</p>
          </div>
        </div>
        <p class="menu-para-descript">w/ Bacon, Red Onions, Tomato, Cheddar, Ground Beef, Topped with Mozzarella</p>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Supreme Pizza</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-2 mb-0"> 14.99</p>
            <p class="menu-para px-2 mb-0"> 16.99</p>
            <p class="menu-para px-2 mb-0"> 18.99</p>
          </div>
        </div>
        <p class="menu-para-descript">w/ Pepperoni, Sausage, Peppers, Mushrooms, & Onions</p>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Super Supreme Pizza</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-2 mb-0"> 15.99</p>
            <p class="menu-para px-2 mb-0"> 17.99</p>
            <p class="menu-para px-2 mb-0"> 21.99</p>
          </div>
        </div>
        <p class="menu-para-descript">w/ Pepperoni, Sausage, Beef, Mushrooms, Onions, Green Peppers, Tomato & Black Olives</p>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">White Pizza</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-2 mb-0"> 13.99</p>
            <p class="menu-para px-2 mb-0"> 15.99</p>
            <p class="menu-para px-2 mb-0"> 18.99</p>
          </div>
        </div>
        <p class="menu-para-descript">w/ Ricotta & Garlic Sauce Topped with Ham, Pineapple, & Mozzarella</p>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Vegetarian Primavera</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-2 mb-0"> 15.99</p>
            <p class="menu-para px-2 mb-0"> 17.99</p>
            <p class="menu-para px-2 mb-0"> 20.99</p>
          </div>
        </div>
        <p class="menu-para-descript">w/ Spinnach, Onions, Mushrooms & Black Olives</p>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Greek Veggie</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-2 mb-0"> 15.99</p>
            <p class="menu-para px-2 mb-0"> 17.99</p>
            <p class="menu-para px-2 mb-0"> 20.99</p>
          </div>
        </div>
        <p class="menu-para-descript">w/ Spinach, Onions, Mushrooms, Tomato, Black Olives, Feta Cheese & Mozzarella</p>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Four Elements</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-2 mb-0"> 13.99</p>
            <p class="menu-para px-2 mb-0"> 15.99</p>
            <p class="menu-para px-2 mb-0"> 17.99</p>
          </div>
        </div>
        <p class="menu-para-descript">w/ Cheddar, Provolone, Mozzarella & Parmesan Cheese</p>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Chicken Bruschetta</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-2 mb-0"> 16.99</p>
            <p class="menu-para px-2 mb-0"> 18.99</p>
            <p class="menu-para px-2 mb-0"> 22.99</p>
          </div>
        </div>
        <p class="menu-para-descript">w/ Chicken, Red Onions, Tomato, Garlic & Oregano</p>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Philly Cheese Steak Pizza</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-2 mb-0"> 16.99</p>
            <p class="menu-para px-2 mb-0"> 18.99</p>
            <p class="menu-para px-2 mb-0"> 22.99</p>
          </div>
        </div>
        <p class="menu-para-descript">w/ Steak, Mushrooms, Onions, Green Peppers & Cheese</p>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  ">Extra Topping</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-2 "> 1.25</p>
            <p class="menu-para px-2 "> 1.75</p>
            <p class="menu-para px-2 "> 2.25</p>
          </div>
        </div>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  ">Extra Sauce</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-2 "> 0.99</p>
            <p class="menu-para px-2 "> 0.99</p>
            <p class="menu-para px-2 "> 0.99</p>
          </div>
        </div>
      </li>
    </ul>
    <h3 class="menu-header">Parmigiana Subs</h3>
    <ul>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  ">Chicken Parmigiana</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-3 "> 10.99</p>
          </div>
        </div>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  ">Meatball Parmigiana</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-3 "> 10.99</p>
          </div>
        </div>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  ">Eggplant Parmigiana</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-3 "> 10.99</p>
          </div>
        </div>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Extra Cheese</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-3"> 0.99</p>
          </div>
        </div>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Additional Topping</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-3"> 0.99</p>
          </div>
        </div>
      </li>
    </ul>
    <h3 class="menu-header">Pitas</h3>
    <ul>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  ">Grilled Chicken Pita</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-3 "> 7.99</p>
          </div>
        </div>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  ">Gyro Grilled Lamb</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-3 "> 7.99</p>
          </div>
        </div>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  ">Tuna in Pita</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-3 "> 7.99</p>
          </div>
        </div>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Extra Cheese</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-3"> 0.99</p>
          </div>
        </div>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Additional Topping</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-3"> 0.99</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="listing" style="max-width: 25%;  min-width: 25%">
    <h3 class="menu-header">Pasta</h3>
    <ul>
      <li>
        <p class="menu-para" style="font-style: italic">All Pasta Served with Garlic Bread & Salad</p>
      </li>
      <li>
        <div class="menu-sizes" style="display: flex; justify-content:end">
          <p class="menu-para px-3"> Single</p>
          <p class="menu-para px-3"> Family</p>
        </div>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Baked Lasagna</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-4"> 11.99</p>
            <p class="menu-para px-4"> 36.99</p>
          </div>
        </div>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-2">Spaghetti or Ziti</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-4 mb-2"> 10.99</p>
            <p class="menu-para px-4 mb-2"> 35.99</p>
          </div>
        </div>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para-descript mb-0 mt-1">w/ Meat Sauce or Meatball</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-4 mb-0"> 11.99</p>
            <p class="menu-para px-4 mb-0"> 36.99</p>
          </div>
        </div>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para-descript  mt-2">Topped with Cheese</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-4 mt-1"> 12.99</p>
            <p class="menu-para px-4 mt-1"> 36.99</p>
          </div>
        </div>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Spaghetti</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-4 mb-0"> 12.99</p>
            <p class="menu-para px-4 mb-0"> 36.99</p>
          </div>
        </div>
        <p class="menu-para-descript">w/ Sausage, Mushrooms, Onions, Green Peppers, Sauce, Fresh Garlic & Cheese</p>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Stuffed Shells</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-4"> 11.99</p>
            <p class="menu-para px-4"> 36.99</p>
          </div>
        </div>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Cheese Ravioli w/ Meat Sauce</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-4"> 11.99</p>
            <p class="menu-para px-4"> 36.99</p>
          </div>
        </div>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Manicotti w/ Meat Sauce</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-4"> 11.99</p>
            <p class="menu-para px-4"> 36.99</p>
          </div>
        </div>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Fettuccini Alfredo</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-4"> 11.99</p>
            <p class="menu-para px-4"> 35.99</p>
          </div>
        </div>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  ">Chicken Parmesan & Spaghetti</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-4"> 12.99</p>
            <p class="menu-para px-4"> 36.99</p>
          </div>
        </div>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  ">Eggplant Parmesan & Spaghetti</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-4"> 12.99</p>
            <p class="menu-para px-4"> 36.99</p>
          </div>
        </div>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  ">Chicken Alfredo</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-4"> 14.99</p>
            <p class="menu-para px-4"> 38.99</p>
          </div>
        </div>
      </li>
    </ul>

    <h3 class="menu-header">Stromboli</h3>
    <ul>
      <li>
        <div class="menu-sizes" style="display: flex; justify-content:end">
          <p class="menu-para px-3"> Small</p>
          <p class="menu-para px-3"> Large</p>
        </div>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Italian Stromboli</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-3 mb-0"> 11.99</p>
            <p class="menu-para px-3 mb-0"> 17.99</p>
          </div>
        </div>
        <p class="menu-para-descript">w/ Ham, Salami, Pepperoni & Mozzarella Cheese</p>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Chicken Stromboli</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-3 mb-0"> 12.99</p>
            <p class="menu-para px-3 mb-0"> 20.99</p>
          </div>
        </div>
        <p class="menu-para-descript">w/ Grilled Chicken, Onions, Mushrooms, & Mozzarella Cheese</p>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Steak Stromboli</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-3 mb-0"> 12.99</p>
            <p class="menu-para px-3 mb-0"> 20.99</p>
          </div>
        </div>
        <p class="menu-para-descript">w/ Steak, Onions, Mushrooms, & Mozzarella Cheese</p>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Extra Topping</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-3"> 1.99</p>
            <p class="menu-para px-3"> 1.99</p>
          </div>
        </div>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Extra Sauce</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-3"> 0.99</p>
            <p class="menu-para px-3"> 0.99</p>
          </div>
        </div>
      </li>
    </ul>
    <h3 class="menu-header">Calzones</h3>
    <ul>
      <li>
        <div class="menu-sizes" style="display: flex; justify-content:end">
          <p class="menu-para px-3"> Small</p>
          <p class="menu-para px-3"> Large</p>
        </div>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Spinach Calzone</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-3 mb-0"> 9.99</p>
            <p class="menu-para px-3 mb-0"> 16.99</p>
          </div>
        </div>
        <p class="menu-para-descript">w/ Grilled Spinach, Ricotta & Mozzarella Cheese</p>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  ">Ham and Cheese Calzone</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-3 "> 10.99</p>
            <p class="menu-para px-3 "> 17.99</p>
          </div>
        </div>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Steak Calzone</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-3 mb-0"> 12.99</p>
            <p class="menu-para px-3 mb-0"> 19.99</p>
          </div>
        </div>
        <p class="menu-para-descript">w/ Steak, Onions, Mushrooms, Ricotta & Mozzarella Cheese</p>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Veggie Calzone</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-3 mb-0"> 10.99</p>
            <p class="menu-para px-3 mb-0"> 17.99</p>
          </div>
        </div>
        <p class="menu-para-descript">w/ Spinach, Mushrooms, Tomato, Eggplant, Ricotta & Mozzarella Cheese</p>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Chicken Calzone</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-3 mb-0"> 12.99</p>
            <p class="menu-para px-3 mb-0"> 20.99</p>
          </div>
        </div>
        <p class="menu-para-descript">w/ Chicken, Onions, Mushrooms, Ricotta & Mozzarella Cheese</p>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Deluxe Calzone</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-3 mb-0"> 12.99</p>
            <p class="menu-para px-3 mb-0"> 20.99</p>
          </div>
        </div>
        <p class="menu-para-descript">w/ Pepperoni, Sausage, Beef, Mushrooms, Onions, Green Peppers, Ricotta & Mozzarella Cheese</p>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Extra Topping</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-3"> 1.99</p>
            <p class="menu-para px-3"> 1.99</p>
          </div>
        </div>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Extra Sauce</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-3"> 0.99</p>
            <p class="menu-para px-3"> 0.99</p>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="listing" style="max-width: 25%; min-width: 25%">
    <h3 class="menu-header">Appetizers</h3>
    <ul>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Mozzarella Sticks</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-4 mb-0"> 6.99</p>
          </div>
        </div>
        <p class="menu-para-descript">6 pieces</p>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Garlic Bread</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-4 mb-0"> 4.99</p>
          </div>
        </div>
        <p class="menu-para-descript">6 pieces of Toasted Garlic Bread Topped w/ Provolone</p>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Onion Rings</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-4 mb-0"> 4.99</p>
          </div>
        </div>
        <p class="menu-para-descript">Whole onion rings deep fried</p>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  ">French Fries</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-4 "> 3.99</p>
          </div>
        </div>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Country Fries</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-4 mb-0"> 6.99</p>
          </div>
        </div>
        <p class="menu-para-descript">Topped with Melted Cheddar & Crispy Bacon</p>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Chicken Fingers</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-4 mb-0"> 8.99</p>
          </div>
        </div>
        <p class="menu-para-descript">3 pieces w/ French Fries</p>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Chicken Nuggets</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-4 mb-0"> 6.99</p>
          </div>
        </div>
        <p class="menu-para-descript">10 pieces</p>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Fried Mushrooms</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-4 mb-0"> 6.99</p>
          </div>
        </div>
        <p class="menu-para-descript">Whole Mushrooms Deep Fried to a Golden Brown</p>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Stuffed Jalapeno Poppers</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-4 mb-0"> 6.99</p>
          </div>
        </div>
        <p class="menu-para-descript">6 pieces</p>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Breadsticks</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-4 mb-0"> 7.99</p>
          </div>
        </div>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para-descript  mt-1">with Cheese</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-4 "> 8.99</p>
          </div>
        </div>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  ">Garlic Knots</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-4 "> 6.99</p>
          </div>
        </div>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Pita Pizza with Cheese</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-4 mb-0"> 4.99</p>
          </div>
        </div>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para-descript  mt-1">add Topping</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-4 "> 0.99</p>
          </div>
        </div>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  ">Extra Sauce</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-4 "> 0.99</p>
          </div>
        </div>
      </li>
    </ul>
    <h3 class="menu-header">Salads</h3>
    <ul>
      <li>
        <p class="menu-para" style="font-style: italic; border-bottom: 1px; border-style: dotted; border-color: black; border-top: 0px; border-left: 0px; border-right: 0px; padding-bottom: 5px">Dressings: French, Ranch, Italian, Thousand Island, Blue Cheese & Honey Musturd</p>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Eden Salad</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-3 mb-0"> 8.99</p>
          </div>
        </div>
        <p class="menu-para-descript">w/ Lettuce, Tomato, Red Onions, Cucumber, Carrots & Mozzarella</p>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Tuna Salad</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-3 mb-0"> 9.99</p>
          </div>
        </div>
        <p class="menu-para-descript">w/ Tuna, Lettuce, Tomato, Onions, Carrots, Cucumber & Pickles</p>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Chef Salad</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-3 mb-0"> 10.99</p>
          </div>
        </div>
        <p class="menu-para-descript">w/ Turkey, Ham, Lettuce, Tomato, Onions, Cucumber, Carrots & Cheese</p>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Greek Salad</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-3 mb-0"> 9.99</p>
          </div>
        </div>
        <p class="menu-para-descript mb-0">w/ Lettuce, Tomato, Onions, Cucumber, Carrots, Black Olives & Topped with Feta</p>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para-descript  mt-1">w/ Grilled Chicken</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-4 "> 10.99</p>
          </div>
        </div>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Grilled Chicken Salad</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-3 mb-0"> 10.99</p>
          </div>
        </div>
        <p class="menu-para-descript">w/ Chicken, Lettuce, Tomato, Cucumber & Mozzarella Cheese</p>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Side Salad</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-3 mb-0"> 4.99</p>
          </div>
        </div>
        <p class="menu-para-descript">w/ Lettuce, Tomato, Onions, Cucumber & Topped with Cheese</p>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Antipasto</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-3 mb-0"> 9.99</p>
          </div>
        </div>
        <p class="menu-para-descript">w/ Lettuce, Pepperoni, Salami, Peppers, Olives, Onions, Tomato, Carrots, Cucumbers & Provolone</p>
      </li>
      <li>
        <div style="display: flex; justify-content: space-between;">
          <p class="menu-para  mb-0">Extra Dressing</p>
          <div style="display: flex; justify-content:end">
            <p class="menu-para px-3"> 0.99</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
