.banner {
  background-size: cover;
  background-position: 50% 33%;
  padding: 150px 0;
  box-shadow: 0px 0px 4px rgba($color: #000000, $alpha: .4);
  border-radius: 4px;

}
.banner-image {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(mamaginna.jpg);
  max-width: 1550px;
  height: 500px;
  margin: auto
}
.banner-image2 {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(pizzaparty.jpg);
  max-width: 1550px;
  height: 500px;
  margin: auto
}
.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: bold;
  font-size: 48px;
  font-optical-sizing: auto;
  text-align: center;
}

.banner p {
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
  margin-top: 10px;
  max-width: 650px;
}

.banner2 {
  background-size: cover;
  background-position: 50% 45%;
  padding: 150px 0;
  box-shadow: 0px 0px 4px rgba($color: #000000, $alpha: .4);
  border-radius: 4px;

}
.banner2 h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 36px;
  text-align: center;
  letter-spacing: 10px;
}

.banner2 p {
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
  margin-top: 10px;
  max-width: 650px;
}

.banner a {
  text-align: center;
}
.banner3 {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100px;
  display: flex;
  align-items: center;

}

.banner3 p {
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
  margin-top: 10px;
  max-width: 650px;
}
.banner3 h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: bold;
  font-size: 32px;
  font-optical-sizing: auto;
  text-align: center;
}
